.cart {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(178, 185, 190, 0.96);
  width: 20rem;
  height: 100vh;
  right: 0;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.hide {
  right: -20rem;
}

.cart h2:first-child {
  position: relative;
  text-align: center;
  border-bottom: solid 0.15rem var(--text-main-color);
}
.cart h2:first-child span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0.5rem;
  top: -0.5rem;
  width: 2rem;
  height: 2rem;
  background-color: var(--primary-color);
  border-radius: 50%;
}
.cart h2:first-child span:hover {
  cursor: pointer;
}

.cart h2:last-child {
  text-align: center;
  border-top: solid 0.15rem var(--text-main-color);
}

.itemContainer {
  flex-grow: 3;
  overflow: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.itemContainer::-webkit-scrollbar {
  display: none;
}
