.container {
  max-width: 1200px;
}

.dishContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  color: var(--text-main-color);
}

header {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
