.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 1200px;
}

h1 {
  color: var(--text-main-color);
}

header {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
}
